.banner-container {
    margin-top: 73px;
    width: 95%;
  }
  
  .bannerImage {
    width: 95%;
    border-radius: 25px;
    position: relative;
    height: 200px;
    margin-left: 50px;
    margin-top: -70px;
    margin-bottom: -45px;
    z-index: -1;
    object-fit: cover;
    mix-blend-mode: darken;
    filter: brightness(0.6);
  }
  
  .banner-title {
    position: relative;
    top: -100px;
    display: flex;
    justify-content: center;
    color: white;
    text-shadow: -1px 1px 0 #000,
                1px 1px 0 #000,
                1px -1px 0 #000,
                -1px -1px 0 #000;
    font-size: 42px;
    font-weight: 700;
    margin-top: 0px;
    margin-left: 70px;
  }

  @media (max-width: 768px) {
    .banner-container {
      margin-top: 50px;
      margin-bottom: -30px;
        width: 100%;
        top: 90px;
    }

    .bannerImage {
      width: 100%;
        height: 120px;
        margin-left: 0px;
        margin-top: -50px;
        border-radius: 10px;
    }

    .banner-title {
      font-size: 30px;
      margin-left: 25px;
      margin-right: 75px;
      position: relative;
      top: -60px;
    }
}