.accomodation{
  flex-grow: 1; 
}
.collapse-container {
  display: flex;
}
.first {
  width: 50%;
}

.second {
  width: 50%;
}
.tags-rates-container{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}