.accomodation{
  flex-grow: 1; 
}
.collapse-container {
  display: flex;
}
.first {
  width: 50%;
}

.second {
  width: 50%;
}
.tags-rates-container{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

@media (max-width: 480px){
  .tags-rates-container{
    display: block;
   
  }
  .collapse-container {
    display: block;
    margin-top: 30px;
  }
  .first {
    width: 100%;
  }
  
  .second {
    width: 100%;
  }
}