.rating, .rating-long-title{
display: flex;
margin-right: 6%;
}
.star{
    width: 25px;
    margin-left: 10px;
}
@media (max-width: 480px){
.rating {
    position: relative;
    top: 23px;
}
.rating-long-title{
    position: relative;
    top: 58px;
}
.star{
    width:16px;
    margin-left: 0;
    margin-right: 5px;
    
}

}