.card-container {
    position: relative;
    top: 110px;
    display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 85%;
  margin-top: 110px;
  margin-left: 50px;
  padding-top: 35px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 10px;
  background-color: #f7f7f7;
  border-radius: 25px;
}
.cards{
  display: grid;
  grid-template-columns: 350px 350px 350px;
  padding-left: 3%;
  padding-bottom: 25px;
}
.card {
    border-radius: 10px;
    width: 275px;
    height: 200px;
    margin-bottom: 30px;
    padding: 0px;

  }

  .card img {
    position: relative;
    top: -87px;
    width: 250px;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
    margin-top: 5px;
    margin-bottom: 30px;
  }
  
  .card h2 {
    color: #f7f7f7;
    position : relative;
    z-index: 2;
    top: 133px;
    left: 1px;
    width: 250px;
    height: 80px;
    line-height: 142, 6%;
    font-size: 18px;
    font-weight: 500;
    background: linear-gradient(180deg, transparent 0%, rgba(0, 0, 0, 0.3) 20%);
    border-top-left-radius: 0px;
border-top-right-radius: 0px;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
  }
  