.about {
    margin-top: 35px;
    margin-left: 80px;
    background-color: #ff6060;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 100px;
    cursor: pointer;
  }
 
 h2 {
    font-size: 18px;
    color: white;
    margin: 10px;
    margin-right: 85%;
  }
  li{
    list-style: none;
  }
.description{
    display: none;
  }


  .animation-active {
    position: relative;
    left: -10px;
    background-color: #f7f7f7;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height: auto;
    width: 98.3%;
    line-height: 30px;
    padding: 15px 10px;
  }
  .wrapper {
    position: relative;
    display: flex;
    background: #f7f7f7;
    transition: height 2s ease-in-out;
  }
  .title{
    display: flex;
    align-items: center;
  }
  
  .vector {
    width: 25px;
    transform: rotate(0deg);
    transition: 0.4s ease-in-out;
  
    }

  .vector-rotated{
    width: 25px;
    transform: rotate(180deg);
	transition: 0.4s ease-in-out;
  }