.about {
  margin-top: 35px;
  margin-left: 80px;
  background-color: #ff6060;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: 100px;
  cursor: pointer;
}

h2 {
  font-size: 18px;
  color: white;
  margin: 10px;
}
li {
  list-style: none;
}
.description{
  position: relative;
  background: #f7f7f7;
  -webkit-transition: max-height 1s;
  -moz-transition: max-height 1s;
  -ms-transition: max-height 1s;
  -o-transition: max-height 1s;
  transition: max-height 1s;
  max-height: 0;
  overflow: hidden;
}

.wrapper {
  max-height: 150px;
}

.animation-active {
  position: relative;
  left: -10px;
  background-color: #f7f7f7;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  height: auto;
  width: 98.3%;
  line-height: 30px;
  padding: 15px 10px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.vector {
  width: 25px;
  margin-right: 3%;
  transform: rotate(0deg);
  transition: 0.4s ease-in-out;
}

.vector-rotated {
  width: 25px;
  margin-right: 3%;
  transform: rotate(180deg);
  transition: 0.4s ease-in-out;
}
