.carrousel{
    height:444px;
}
.carrousel-image{
    position: relative;
    margin-top: 20px;
    margin-left: 50px;
    min-width: 90%;
    min-height: 400px;
    object-fit: cover;
    border-radius: 10px;
}
.chevron-left{
    height: 80px;
    width: 150px;
    position: relative;
    top: -250px;
    left: 2%;
}
.chevron-right{
    height: 80px;
    width: 150px;
    position: relative;
    top: -250px;
    left: 73%;
}